.grid {
  display: grid;
  grid-template: repeat(2, 60px) / repeat(2, 60px);
  place-content: center;
  grid-template-areas:
    "item-1 item-2"
    "item-3 item-3";
}

.item-1 {
  grid-area: item-1;
}
.item-2 {
  grid-area: item-2;
}
.item-3 {
  grid-area: item-3;
}
